<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Contact</title>
        <link rel="stylesheet" href="/contact.css">
        <meta charset="UTF-8">
        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
        <script src="https://kit.fontawesome.com/8394235f03.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <nav class="index">
            <div class="icon-container">
                <ion-icon name="chatbubbles-outline" style="font-size: 5rem;"></ion-icon>
            </div>
            <li><a class="webicon" href="intro">Oasis</a></li>
        </nav>
        <section>
            <h2>We’d love to hear from you</h2>
            <hr>
            <p class="curious">Whether you're curious about the latest discussions or looking to join a specific topic, our forum website has got you covered.</p>
            <div class="container">
                <div class="block">
                    <div class="icon">
                        <ion-icon name="person-circle-outline" style="font-size: 4rem;"></ion-icon>
                    </div>
                    <h3>Admin</h3>
                    <p class="email">2623150077@qq.com</p>
                </div>
                <div class="block">
                    <div class="icon">
                        <ion-icon name="person-circle-outline" style="font-size: 4rem;"></ion-icon>
                    </div>
                    <h3>Admin1</h3>
                    <p class="email">aiercroft2007@gmail.com</p>
                </div>
            </div>
        </section>
        <br>
        <br>
        <br>
        <footer>
            <div class="sm">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="https://www.youtube.com/channel/UCxfAOHhw3eAXNsgu3dVHGkQ"><i class="fab fa-youtube"></i></a>
                <a href="#"><i class="fab fa-linkedin-in"></i></a>
            </div>
            <hr>
            <p>&copy; 2023 Oasis. All rights reserved.</p>
        </footer>
    </body>
</html>