<!DOCTYPE html>
<html>

<head>
    <title>dashboard</title>
    <link rel="stylesheet" href="/dashboard.css">
</head>

<body>
    <header>
        <h1>Welcome to Oasis</h1>
    </header>

    <h2>Hi <%= username %>!</h2>

    <div class="channel-container">
        <div class="channel">
            <h3>General</h3>
            <li><a href="/general">Posts</a></li>
        </div>

        <div class="channel">
            <h4>Academics</h4>
                <li><a href="#">Discussion Topic 4</a></li>
                <li><a href="#">Discussion Topic 5</a></li>
                <li><a href="#">Discussion Topic 6</a></li>
        </div>

        <div class="channel">
            <h5>Chat</h5>
                <li><a href="#">Discussion Topic 7</a></li>
                <li><a href="#">Discussion Topic 8</a></li>
                <li><a href="#">Discussion Topic 9</a></li>
        </div>
    </div>
</body>

</html>