<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/dashboard.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
        <script src="https://kit.fontawesome.com/8394235f03.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    </head>
    <script>
        // JavaScript code to trigger the animation after page load
        document.addEventListener("DOMContentLoaded", function(event) {
          var channels = document.getElementsByClassName("channel");
          for (var i = 0; i < channels.length; i++) {
            channels[i].style.animationDelay = (i * 0.2) + "s";
          }
        });
        $(document).ready(function() {
        $('.channel').hover(function() {
            var iconClass = $(this).data('icon');
            $('.icon').removeClass('lift');
            $('.' + iconClass).addClass('lift');
            $('.' + iconClass).addClass('grad');
        }, function() {
            $('.icon').removeClass('lift');
            $('.icon').removeClass('grad');
        });
        });
      </script>

    <body>
        <header id="topBar">
            <div id="topBar">
                <a href="intro" class="title">Dashboard</a>
            </div>
        </header>
        <h1>Hello! <%= username%></h1>
        <br>
        <br>
        <br>
        <br>
        <nav>
            <div class="container">
                <div class="block">
                    <div class="icon icon-1">
                        <ion-icon name="earth-outline" style="font-size: 4rem;"></ion-icon>
                    </div>
                    <br>
                    <br>
                    <li><a class="channel" data-icon="icon-1" href="general">General</a></li>
                </div>
                <div class="block">
                    <div class="icon icon-2">
                        <ion-icon name="book-outline" style="font-size: 4rem;"></ion-icon>
                    </div>
                    <br>
                    <br>
                    <li><a class="channel" data-icon="icon-2" href="academics">Academics</a></li>
                </div>
                <div class="block">
                    <div class="icon icon-3">
                        <ion-icon name="person-circle-outline" style="font-size: 4rem;"></ion-icon>
                    </div>
                    <br>
                    <br>
                    <li><a class="channel" data-icon="icon-3" href="announcement">Announcement</a></li>
                </div>
                <div class="block">
                    <div class="icon icon-4">
                        <ion-icon name="person-circle-outline" style="font-size: 4rem;"></ion-icon>
                    </div>
                    <br>
                    <br>
                    <li><a class="channel" data-icon="icon-4" href="contact">Contact</a></li>
                </div>
            </div>
        </nav>
        <footer>
            <div class="sm">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="https://www.youtube.com/channel/UCxfAOHhw3eAXNsgu3dVHGkQ"><i class="fab fa-youtube"></i></a>
                <a href="#"><i class="fab fa-linkedin-in"></i></a>
            </div>
            <hr>
            <p>&copy; 2023 Oasis. All rights reserved.</p>
        </footer>
    </body>
</html>