<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Oasis</title>
        <link rel="stylesheet" href="/intro.css">
    </head>
    <body>
        <header>
            <h1>Welcome to the Oasis!</h1>
            <p>Welcome to our forum website, the ultimate platform for engaging discussions and connecting with like-minded individuals. Whether you’re seeking expert advice, sharing your experiences, or simply looking to expand your knowledge, our forum offers a vibrant community where you can ask questions, contribute insights, and immerse yourself in a diverse range of topics. Join us and be part of the conversation today!</p>
        </header>
        <br>
        <nav>
            <ul>
                <li><a href="login">Login</a></li>
                <li><a href="register">Register</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
        <br>
        <section>
            <h2>About Us</h2>
        </section>
        <footer>
            <p>&copy; 2023 Oasis. All rights reserved.</p>
        </footer>
    </body>
</html>