<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Oasis</title>
        <link rel="stylesheet" href="/intro.css">
    </head>
    <body>
        <div class="word-box">
            <h1>Welcome to the Oasis!</h1>
            <p>Welcome to our forum website, the ultimate platform for engaging discussions and connecting with like-minded individuals. Whether you’re seeking expert advice, sharing your experiences, or simply looking to expand your knowledge, our forum offers a vibrant community where you can ask questions, contribute insights, and immerse yourself in a diverse range of topics. Join us and be part of the conversation today!</p>
        </div>
    </body>
</html>