<h1>Register</h1>
<form action="/register" method="POST">
    <label>Username:</label><br>
    <input type="text" name="username"><br><br>
    <label>Password:</label><br>
    <input name="password" type="password"><br><br>
    <button type="submit">Register</button>
</form>

