
        html{
            width: 100%;
        }
        h1 {
            font-size: 30px;
            position: relative;
            left: 10px;
            color: aliceblue;
        }

        body {
            margin: 0;
            margin-top: 50px;
            padding: 0;
            width: 100%;
            height: 100%;
            overflow-x: hidden;
            overflow-y: scroll;
            position: relative;
            padding: 0;
            font-family: 'poppins',sans-serif;
            background: url('2.png') no-repeat;
            background-position: top;
            background-size: cover;
            background-attachment: fixed;
        }
        .hidden {
            display: none;
        }

        .title {
            font-size: 18px;
            position: relative;
            left: 20px;
            top: 12.5px;
            font-weight: 600;
            color: aliceblue;
            text-decoration: none;
        }

        #topBar {
            padding: 5px 0; /* Adjust the padding */
            width: 100%;
            height: 50px;
            background-color: #282828;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 2;
        }

        #inputBox {
            position: fixed;
            top: 200px;
            left: 750px;
            width: 40%;
            background-color: rgb(216, 207, 207);
            padding: 20px;
            box-shadow: 0px -2px 5px black;
            border-radius: 20px;
        }

        .posts {
            border: white solid 2px;
            padding-left: 20px;
            padding-right: 0px;
            padding-bottom: 20px;
            width: 600px;
            margin: 10px;
            border-radius: 26px;
            background-color: white;
            color: black;
            opacity: 1;
            position: relative;
            left: 30px;
        }

        #spacing {
            height: 200px;
        }

        #addPostBtn {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        background-color: #f2f2f2;
        border: none;
        left: 800px;
        top:55px;
        border-radius: 12px;
        padding: 10px;
        color: #333;
        font-size: 16px;
        cursor: pointer;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        transition: background-color 0.3s ease-in-out;
    }
    
    /* Adjust icon and text spacing */
    #addPostBtn ion-icon {
        margin-right: 5px;
    }
    #addPostBtn:hover {
        background-color: #ccc;
    }

        #closeForm {
            position: relative;
            left:550px;
        }

        .postLikes{
            color: black;
            font-weight: 500;
            font-size: 28px;
            position: relative;
            left: 600px;
            bottom: 152px;
        }
        .heart{
            color: red;
        }
        #backButton{
            color: white;
            position: relative;
            font-size: 20px;
            top: 25px;
            left: 40px;
            text-decoration: none;
            font-weight: 600;
            padding: 5px 10px;
            border-radius: 5px;
            transition: background-color 0.3s, color 0.3s;
        }
        #backButton:hover {
                    background-color: rgba(300, 300, 300, 0.2);
                    color: #fff;
                }

                #backButton:active {
                    animation: click-effect 0.3s ease-in-out;
                }

                @keyframes click-effect {
                    0% {
                    transform: scale(1);
                    }
                    50% {
                    transform: scale(0.9);
                    }
                    100% {
                    transform: scale(1);
                    }
                }
        .heart-button {
            display: inline-block;
            background-color: transparent;
            border: none;
            cursor: pointer;
            padding: 0;
            display: flex;
            position: relative;
            font-size: 40px;
            left: 550px;
            bottom: 70px;
            color: red;
        }

        .heart-button ion-icon {
            color: red;
            font-size: 40px;
        }
#inputBox {
        width: 300px;
        padding: 40px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #fff;
        position: absolute;
    }
    
    #closeForm {
        color: black;
        left: 280px;
        bottom: 50px;
        border: none;
        padding: none;
        background-color: transparent;
        position: relative;
        font-size: 20px;
        cursor: pointer;
    }
    
    #postForm {
        margin-top: 20px;
    }
    
    label {
        display: block;
        font-weight: bold;
        margin-bottom: 5px;
    }
    
    textarea {
        width: 100%;
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 3px;
        resize: vertical;
    }
    
    .Btn {
        background-color: #ec3da0;
        position: relative;
        color: #fff;
        border: none;
        border-radius: 5px;
        padding: 10px 15px;
        font-size: 16px;
        cursor: pointer;
    }
    button.Btn:hover {
        background-color: #a04597;
    }
    
    
    br {
        line-height: 12px;
    }

    /* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  right: 150px;
  top: 8px;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.posta {
    position: relative;
    left: 70px;
    bottom: 18px;
    white-space: nowrap;
    font-size: 20px;
    display: inline-block;
}
.switchForm {
    position: relative;
    left: 150px;
    top: 80px;
}
.BtnP{
    bottom: 70px;
    background-color: #ec3da0;
        position: relative;
        color: #fff;
        border: none;
        border-radius: 5px;
        padding: 10px 15px;
        font-size: 16px;
        cursor: pointer;
}
button.BtnP:hover {
        background-color: #a04597;
    }
    footer{
    background-color: rgba(51, 51, 51, 0.2);
    padding: 20px;
    color: #F4A896;
    text-align: center;
}
.sm a{
    display: inline-flex;
    text-decoration: none;
    font-size: 36px;
    width: 60px;
    height: 60px;
    color: #f0f0f0;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0 7px;
  }
  .sm a::before{
    content: '';
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 25%;
    z-index: -1;
    transition: transform .3s ease-in;
  }
  .sm a:nth-child(1)::before{
    background: #38529a;
  }
  .sm a:nth-child(2)::before{
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
  }
  .sm a:nth-child(3)::before{
    background: #1c96e9;
  }
  .sm a:nth-child(4)::before{
    background: #f70000;
  }
  .sm a:nth-child(5)::before{
    background: #046596;
  }
  .sm a:hover::before{
    transform: scale(0);
  }
  .sm a i{
    transition: transform .3s ease-in;
  }
  .sm a:nth-child(1):hover i{
    background: #38529a;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -ms-background-clip: text;
    -ms-text-fill-color: transparent;
    -o-background-clip: text;
    -o-text-fill-color: transparent;
    transform: scale(1.5);
  }
  .sm a:nth-child(2):hover i{
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -ms-background-clip: text;
    -ms-text-fill-color: transparent;
    -o-background-clip: text;
    -o-text-fill-color: transparent;
    transform: scale(1.5);
  }
  .sm a:nth-child(3):hover i{
    background: #1c96e9;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -ms-background-clip: text;
    -ms-text-fill-color: transparent;
    -o-background-clip: text;
    -o-text-fill-color: transparent;
    transform: scale(1.5);
  }
  .sm a:nth-child(4):hover i{
    background: #f70000;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -ms-background-clip: text;
    -ms-text-fill-color: transparent;
    -o-background-clip: text;
    -o-text-fill-color: transparent;
    transform: scale(1.5);
  }
  .sm a:nth-child(5):hover i{
    background: #046596;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -ms-background-clip: text;
    -ms-text-fill-color: transparent;
    -o-background-clip: text;
    -o-text-fill-color: transparent;
    transform: scale(1.5);
  }